body {
    color: #FF6060;
    margin: auto;
    margin-top: 20px;
    font-family: Montserrat;

}
main{
    width: 95%;
    margin: auto;

}
header{
    width: 95%;
    margin: auto;


}
a {
    text-decoration: none;

}
ul