
#aboutbanner{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
    flex-wrap: nowrap;
    margin: auto;

}
#aboutbanner img{
    height: 100px;
    object-fit: cover;
    width: 90%;
    border-radius:25px;
}
.summary{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}