.cards{
	color: white;
	background-color: #ff6060    ;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    border-radius: 25px;
    width: 250px;
    margin: 10px;
    height: 75%;
}
.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards div {
    width: 25%;
    height: 25%;
}
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgrey;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 25px;
}