
#host{
    display: flex;
    align-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#host-picture {
    border-radius:100%;

}
#host-stars{

}
#host-info{
    display: flex;
    align-items: center
    
}
#host-name{
    height: 52px;
width: 90px;
left: 1170px;
top: 573px;

    
}
