
#host{
    display: flex;
    align-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#host-stars{

}
#host-stars{
    
}
#host-stars{
    
}
#host-stars{
    
}