.nav-about{
margin: 15px;
color:#ff6060
;
}
.nav-about:hover{
    border-bottom: solid  #ff6060;
  
}
.nav-accueil{
    margin: 15px;
    color:#ff6060;
}
.nav-accueil:hover{
    border-bottom: solid  #ff6060;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;

}
header nav{
    display: flex;
    flex-direction: row-reverse;


}