
#host{
    display: flex;
    align-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#host-picture {
    border-radius:100%;

}
#host-stars{

}
#host-info{
    display: flex;
    align-items: center
    
}
#host-name{
    width: 93px;
    height: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    line-height: 25.67px;
    margin-right: 10px;
    

    
}
@media (max-width: 1000px) {
    #host{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    align-content: stretch;
    margin: auto;
    margin-left: 50px;}
}