#intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between
}
#housing-info{
    display: flex;
    margin-bottom: 150px;
}
.tag{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    background-color: ;
    border-radius: 12px;
    margin-left: 10px;
    color: white;
    font-weight: 500;
height: 25px;
width: 115px;
left: 0px;
top: 0px;
border-radius: 10px;

}