#title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
#titlebanner{
    margin-bottom: 25px;
    height: 150px;
    width: 95%;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;


}
#title h1{
    position: absolute;
    color:white;

}

.nav-about{
margin: 10px;
color:#ff6060
;
}
.nav-about a :hover{
    border-bottom: solid 1px #ff6060;
    tr
}
.nav-accueil{
    margin: 10px;
    color:#ff6060;
}
.nav-accueil :hover{
    border-bottom: solid 1px #ff6060;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;

}
header nav{
    display: flex;
    flex-direction: row-reverse;


}